.carousel {
    height: 450px;
    background-color: #007bff;
}

.carousel h1 {
    color: white;
    font-size: 50px;
}

.carousel span {
    font-size: 30px;
    font-weight: 500;
    color: whitesmoke;
}

.carousel p {
    font-weight: 400;
    font-style: italic;
}

.carousel-item {
    padding-top: 70px;
}

.tutorial a {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

/* awal css portfolio */

.jumbotron {
    height: 500px;
}
.jumbotron img {
    border-radius: 50%;
    border: 7px solid rgba(31, 31, 31, 0.192);
}
.jumbotron h2 {
    color: white;
    padding-top: 10px;
}
.jumbotron span {
    color: white;
    font-family:'Script MT', 'sans-serif';
}

.gallery img {

    padding: 2px;
    
}

.introduction {
    margin: 100px 0 100px 0;
}
.introduction p {
    line-height: 32px;
    text-align: justify;
}
.section h2 {
    font-size: 80px;
    padding-top: 20px;
    color: #007bff;
    font-family: Arial, Helvetica, sans-serif;
}
.section h4 {

    color: white;
}
.section p {
    
    color: white;
}


/* akhir css portfolio */

/* awal tutorial */

.box-menu {
    margin-bottom: 20px;
    
}
.box-menu img {
    height: 120px;
}

/* akhir tutorial */

/* awal sub materi */

.materi ul li {

    padding: 7px 0 7px 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    list-style: square;
}

/* akhir sub materi */